.App {
  margin: 50px auto;
}
h1 {
  color: #343a40;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 100;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #7c7878;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
.container {
  max-width: 850px;
  max-height: 700px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 13px;
}

.weather-application-wrapper {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #27292b;
  border-radius: 13px;
}

.weather-application {
  padding: 20px;
  border: 1px solid #27292b;
  border-radius: 13px;
}

.app-overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 20px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temp strong {
  font-size: 48px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 1;
}

.weather-temp .units {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  top: -19px;
}

.weather-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}
